
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="dropdownMenuLink" href="#" data-bs-toggle="dropdown">
        Admin
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" asp-controller="Author" asp-action="Index">Authors</a></li>
        <li><a class="dropdown-item" asp-controller="Category" asp-action="Index">Categories</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" asp-controller="Book" asp-action="Index">Books</a></li>
    </ul>
</li>